@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

:root {
  --bg-color: #fff;
}

body {
  background: var(--bg-color);
  min-height: 100%;

  margin: 0;
  padding: 0;
}
